@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

.font-bebas{
    font-family: "Bebas Neue", sans-serif;
}
.font-roboto{
    font-family: "Roboto", sans-serif;
}
.font-banner{
    font-family: "Matemasie", sans-serif;
}

/*main styles */

.banner{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
    
}
